*.o
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.ta
hello/host/hello
persistentObj/host/persistentObj
storage/host/perObj/perObj
storage/host/enumFiles/enumFiles
keygen/host/kg/keygen
keygen/host/ko/keyopen
keygen/host/ko/keydel
keygen/host/ke/keyenum
keygen/host/kenc/keyenc
