*.o
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.ta
hello/host/hello
persistentObj/host/persistentObj
storage/host/perObj/perObj
storage/host/enumFiles/enumFiles
keygen/host/keyGen/keygen
keygen/host/keyOpen/keyopen
keygen/host/keyDel/keydel
keygen/host/keyEnum/keyenum
keygen/host/keyEncDec/ked
keygen/host/keyXtr/keyxtr
keygen/host/keyInj/keyinj
keygen/host/libokey/libokey.so.1
